body{
    
    margin: 0;
    padding: 0;
}
.back{
    width: 1200px;
    height: 700px;
    overflow: hidden;
    top: 3%;
    left: 0;
    transform: translate(15%,1%);
    position: absolute;
    border-radius: 20px;
}
.girl{
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    margin-top: 195px;
    margin-left: 950px;
    animation: girl 8s ease-in-out infinite;
}

@keyframes love {
    20%, 40%, 60%, 80%, 100%{
        transform-origin: top center;
    }
    20%{
       transform: rotate(7deg);
    }
    40%{
        transform: rotate(-5deg);
    }
    60%{
        transform: rotate(3deg);
    }
    80%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.lo1{
    width: auto;
    height: 400px;
    overflow: hidden;
    position: absolute;
    margin-top: -90px;
    margin-left: 220px;
    animation: love 8s ease-in-out infinite; 
    animation-delay: -1s;
}
.lo2{
    width: auto;
    height: 400px;
    overflow: hidden;
    position: absolute;
    margin-top: -90px;
    margin-left: 320px;
    animation: love 8s ease-in-out infinite; 
    animation-delay: 0.5s;
}
.lo3{
    width: auto;
    height: 400px;
    overflow: hidden;
    position: absolute;
    margin-top: -90px;
    margin-left: 460px;
    animation: love 8s ease-in-out infinite; 
    animation-delay: -0.5s;
}
.lo4{
    width: auto;
    height: 400px;
    overflow: hidden;
    position: absolute;
    margin-top: -90px;
    margin-left: 550px;
    animation: love 8s ease-in-out infinite; 
    animation-delay: 1s;
}
.love1{
    width: 90px;
    height: auto;
    overflow: hidden;
    position: absolute;
    margin-top: -90px;
    margin-left: 270px;
    animation: love 8s ease-in-out infinite; 
    animation-delay: -1.2s;
}
.love2{
    width: 90px;
    height: auto;
    overflow: hidden;
    position: absolute;
    margin-top: -90px;
    margin-left: 380px;
    animation: love 8s ease-in-out infinite; 
    animation-delay: -0.2s;
}
.love3{
    width: 90px;
    height: auto;
    overflow: hidden;
    position: absolute;
    margin-top: -90px;
    margin-left: 480px;
    animation: love 8s ease-in-out infinite; 
    animation-delay: 1.2s;
}
.boy{
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    margin-top: 333px;
    margin-left: 750px;
}
.ballon{
    width: 130px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    margin-top: 433px;
    margin-left: 530px;
    animation: ballon 4s ease-in-out infinite; 
}
@keyframes ballon {
     50%, 100%{
        transform-origin: bottom center;
    }
    0%{
        transform: rotate(0deg);
    }
    
    40%{
        transform: rotate(-5deg);
    }
    
    80%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@media (max-width: 1118px){

}
@media (max-width: 1118px){
    
}
@media (max-width: 860PX){
       body{
           transform: rotate(90deg) scale(0.47);
           margin-top: -10px;
           margin-left: 340px;
       }
}


.containe{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  .preloader{
    margin-top: 385px;
    margin-left: 750px;
  }
  .container .preloader{
    animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes rotate {
    50%{
      transform: rotate(360deg);
    }
    100%{
      transform: rotate(720deg);
    }
  }
  .preloader span{
    position: absolute;
    display: block;
    height: 64px;
    width: 64px;
    background: rgb(242, 36, 81);
    border: 1px solid #f23fcb;
    border-radius: 100%;
  }
  .preloader span:nth-child(1){
    transform: translate(-28px, -28px);
    animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes shape_1 {
    60%{
      transform: scale(0.4);
    }
  }
  .preloader span:nth-child(2){
    transform: translate(28px, -28px);
    animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes shape_2 {
    40%{
      transform: scale(0.4);
    }
  }
  .preloader span:nth-child(3){
    position: relative;
    border-radius: 0px;
    transform: scale(0.98) rotate(-45deg);
    animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes shape_3 {
    50%{
      border-radius: 100%;
      transform: scale(0.5) rotate(-45deg);
    }
    100%{
      transform: scale(0.98) rotate(-45deg);
    }
  }
  .b{
    color: rgb(248, 5, 78);
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .H{
    color: rgb(248, 5, 78);
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 940px;
    margin-top: 9px;
    
  }